body{
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
}
h1{
    font-size: 50px;
    
}
.name-highlight{
    color : rgb(255, 166, 0);
}
.half-width{
    float: left;
    width: 40%;
    padding-left: 2%;
    margin-left: 5%;
}
.half-width img{
    width: 100%;
}