body{
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    
}
.name-highlight{
    color : rgb(255, 166, 0);
}
.half-width{
    float: left;
    width: 40%;
    padding-left: 2%;
    margin-left: 5%;
}
.half-width img{
    margin-top: 2px;
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 504px;
}